@model DeviceSensorWeb.Models.User

@{
    ViewData["Title"] = "Home Page";
}

<div>
    @if (User.Identity.IsAuthenticated)
    {
        <div class="row">
            <p>You're logged in as <span class="user__name">@User.Identity.Name</span>! Additional pages are now available</p>
        </div>
        <div class="row">
            @Html.ActionLink("Devices Page", "Index", "Device", null, new { @class = "nav-link" })
        </div>
        <div class="row" style="padding-top:50px;">
            @Html.ActionLink("Log Off", "Logoff",
            "Home", null, new { @class = "btn btn-primary btn-lg rph-login-button" })
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div>
                    @using (Html.BeginForm("LoginUser", "Home", FormMethod.Post, new { role = "form" }))
                    {
                        <div>
                            @Html.AntiForgeryToken()
                            <div>
                                @Html.LabelFor(m => m.USERID)
                                <br />
                            </div>
                            <div>
                                @Html.TextBoxFor(m => m.USERID,
                                new { @class = "form-control txtbox" })
                            </div>
                            <div style="padding-top:20px;"></div>
                            <div>
                                @Html.LabelFor(m => m.PASSWORD)
                                <br />
                            </div>
                            <div>
                                @Html.PasswordFor(m => m.PASSWORD,
                                new { @class = "form-control txtbox" })
                            </div>
                        </div>
                        <div style="padding-left:35%;width:40%;">
                            <div style="padding-top:20px;">
                                <input class="btn btn-primary btn-lg rph-login-button" type="submit" value="Login" />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</div>